<template>
  <div id="app">
    <div class="container">
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Features</a>
        <a class="p-2 text-dark" href="#">Enterprise</a>
        <a class="p-2 text-dark" href="#">Support</a>
        <a class="p-2 text-dark" href="#">Pricing</a>
      </nav>
      <a class="btn btn-outline-primary" href="#">Sign up</a>
    </div>
    </div>

    <div class="container">
              <h2 class="text-left"> Debts </h2>
        <hr />

      <div class="card-columns mb-2 text-center">
        <div class="card mb-2 box-shadow" v-for="item in debts">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{item.name}}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{item.currency}}{{item.amount}} </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li class="list-item"> Owned To: {{item.creditor}} </li>
            </ul>
<button type="button" class="btn btn-lg btn-block btn-outline-primary">Pay Amount</button>
<button type="button" class="btn btn-lg btn-block btn-outline-primary">Primary</button>
          </div>
        </div>
      </div>
  </div>
    <div class="container">
        <h2 class="text-left"> Savings </h2>
        <hr />

      <div class="card-columns mb-2 text-center">
        <div class="card mb-2 box-shadow" v-for="item in debts">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{item.name}}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{item.currency}}{{item.amount}} </h1>
            <ul class="list-unstyled mt-3 mb-4">
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
          </div>
        </div>
      </div>
  </div>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      debts: []
    }
  },
  mounted()
  {
    for(let i = 0; i < 5; i++)
    {
    this.debts.push({
      name: "Debt " + i.toString(),
      amount: Math.round(Math.random() * 1000),
      currency: "€",
      creditor: "Myself",
      priority: i
    });
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
